!!!
%head
  %link{:href => "/css/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "/css/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}/
  /[if IE]
    <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
%body
  #thai_moons_app
    %main
      %nav
        .escape
          #sidebar
            .closebar
              %a
            %ul
              %li item
              %li item
        %a.sidebar-trigger
          %img{:alt => "Menu", :src => "/images/menu.png"}/
      %nav#calendar_nav
      %section#calendar
      %section#messages

  %script{:src => "/js/vendor/json2.js"}
  %script{:src => "/js/vendor/jquery-2.1.1.min.js"}
  %script{:src => "/js/vendor/underscore-1.7.0.min.js"}
  %script{:src => "/js/vendor/backbone-1.1.2.min.js"}
  %script{:src => '/js/moons/moons-thai-2014.js' }
  %script{:src => '/js/app.js' }
