<script id='appview-template' type='text/template'>
  <nav>
    <ul class='pull-left'>
      <% if (showLogo === true) { %>
      <li class='logo'>&nbsp;</li>
      <% } %>
      <% if (showSiteTitle === true) { %>
      <li class='site-title'>
        <p class='site-title'>Splendid Moons</p>
        <p class='site-subtitle'>uposatha moonday calendar</p>
      </li>
      <% } %>
    </ul>
    <ul class='pull-right menu-icons'>
      <% if (showMenu === true) { %>
      <li class='calendar'>
        <div class='modal'>
          <label for='modal-3'>
            <span class='fa fa-calendar'></span>
          </label>
          <input class='modal-state' id='modal-3' type='checkbox'>
          <div class='modal-window'>
            <div class='modal-inner'>
              <label class='modal-close' for='modal-3'></label>
              <h1>Google Calendar</h1>
              <button class='quiet'>
                <span class='fa fa-plus-circle'>
                  <a href='http://www.google.com/calendar/render?cid=http://splendidmoons.github.io/ical/mahanikaya.ical'>
                    Add to Google Calendar
                  </a>
                </span>
              </button>
            </div>
          </div>
        </div>
      </li>
      <% } %>
    </ul>
  </nav>
  <section id='calendar_message'></section>
  <section id='calendar_nav'></section>
  <section id='calendar_wrap'>
    <div id='calendar'></div>
  </section>
  <section id='messages'></section>
</script>
<script id='calendarNav-template' type='text/template'>
  <div id='calendar_period'>
    <ul>
      <li class='year'>
        <label class='ui quiet'>
          <span class='prev fa fa-chevron-left'></span>
        </label>
        <span class='val'><%= year %> / <%= yearBE %></span>
        <label class='ui quiet'>
          <span class='next fa fa-chevron-right'></span>
        </label>
      </li>
      <% if (period === 'Month') { %>
      <li class='month'>
        <label class='ui quiet'>
          <span class='prev fa fa-chevron-left'></span>
        </label>
        <span class='val'><%= monthName %></span>
        <label class='ui quiet'>
          <span class='next fa fa-chevron-right'></span>
        </label>
      </li>
      <% } else { %>
      <li class='month'>&nbsp;</li>
      <% } %>
    </ul>
  </div>
  <div id='calendar_menu'>
    <ul class='settings'>
      <li>
        <label class='ui quiet'>
          <% if (listView === true) { %>
          <input checked='checked' name='list_view' type='checkbox'>
          <% } else { %>
          <input name='list_view' type='checkbox'>
          <% } %>
          <span>Compact</span>
        </label>
      </li>
      <li>
        <% if (period === 'Month') { %>
        <label class='ui quiet'>
          <input name='period' type='radio' value='Year'>Year</input>
        </label>
        <label class='ui quiet'>
          <input checked='checked' name='period' type='radio' value='Month'>Month</input>
        </label>
        <% } else { %>
        <label class='ui quiet'>
          <input checked='checked' name='period' type='radio' value='Year'>Year</input>
        </label>
        <label class='ui quiet'>
          <input name='period' type='radio' value='Month'>Month</input>
        </label>
        <% } %>
      </li>
    </ul>
  </div>
</script>
<script id='flash-notice-template' type='text/template'>
  <div class='flash-notice'>
    <%= message %>
  </div>
</script>
<script id='flash-info-template' type='text/template'>
  <div class='flash-info'>
    <span class='fa fa-info-circle'></span>
    <%= message %>
  </div>
</script>
