
%script#appview-template{ type: 'text/template' }
  %nav
    %ul.pull-left
      %li.logo &nbsp;
      %li.site-title
        %p.site-title Thai Moons
        %p.site-subtitle uposatha moonday calendar
    %ul.pull-right
      %li.menu &nbsp;
      %li.language &nbsp;
  %section#pages
    .page
      %h2 Hello
    %ul
      %li
        %button.quiet
          %span.fa.fa-print
          PDFs
      %li
        %button.quiet
          %span.fa.fa-plus-circle
          Add to Google Calendar
  %section#calendar_nav
  %section#calendar_wrap
    .prev
      %span &lt;
    #calendar
    .next
      %span &gt;
  %section#messages

%script#calendarNav-template{ type: 'text/template' }
  #calendar_period
    %ul
      %li <%= year %> / <%= yearBE %>
      <% if (yearAsList !== true) { %>
      %li <%= monthName %>
      <% } %>
  #calendar_menu
    %ul.settings
      %li
        %select.quiet{ name: 'nikaya' }
          <% if (nikaya === 'mahanikaya') { %>
          %option{ value: 'mahanikaya', selected: 'true' }
            Mahanikaya
          %option{ value: 'dhammayut' }
            Dhammayut
          <% } else { %>
          %option{ value: 'mahanikaya' }
            Mahanikaya
          %option{ value: 'dhammayut', selected: 'true' }
            Dhammayut
          <% } %>
      %li
        %label.quiet
          <% if (yearAsList === true) { %>
          %input{ type: 'checkbox', name: 'year_as_list', checked: 'checked' }
          <% } else { %>
          %input{ type: 'checkbox', name: 'year_as_list' }
          <% } %>
          Year as List

%script#calendarMonthTable-template{ type: 'text/template' }
  %table
    %tr
      %td <%= year %>
      %td <%= month %>
      %td <%= nikaya %>

%script#calendarYearAsList-template{ type: 'text/template' }
  %ul
    %li <%= year %>
    %li <%= nikaya %>

