%script#appview-template{ type: 'text/template' }
  %nav
    %ul.pull-left
      <% if (showLogo === true) { %>
      %li.logo &nbsp;
      <% } %>
      <% if (showSiteTitle === true) { %>
      %li.site-title
        %p.site-title Splendid Moons
        %p.site-subtitle uposatha moonday calendar
      <% } %>
    %ul.pull-right.menu-icons
      <% if (showMenu === true) { %>
      %li.calendar
        .modal
          %label{:for => "modal-3"}
            %span.fa.fa-calendar
          %input#modal-3.modal-state{:type => "checkbox"}/
          .modal-window
            .modal-inner
              %label.modal-close{:for => "modal-3"}
              %h1 Google Calendar
              %button.quiet
                %span.fa.fa-plus-circle
                  %a{ :href => "http://www.google.com/calendar/render?cid=http://splendidmoons.github.io/ical/mahanikaya.ical" }
                    Add to Google Calendar
      <% } %>
  %section#calendar_message
  %section#calendar_nav
  %section#calendar_wrap
    #calendar
  %section#messages


%script#calendarNav-template{ type: 'text/template' }
  #calendar_period
    %ul
      %li.year
        %label.ui.quiet
          %span.prev.fa.fa-chevron-left
        %span.val <%= year %> / <%= yearBE %>
        %label.ui.quiet
          %span.next.fa.fa-chevron-right
      <% if (period === 'Month') { %>
      %li.month
        %label.ui.quiet
          %span.prev.fa.fa-chevron-left
        %span.val <%= monthName %>
        %label.ui.quiet
          %span.next.fa.fa-chevron-right
      <% } else { %>
      %li.month &nbsp;
      <% } %>
  #calendar_menu
    %ul.settings
      %li
        %label.ui.quiet
          <% if (listView === true) { %>
          %input{ type: 'checkbox', name: 'list_view', checked: 'checked' }
          <% } else { %>
          %input{ type: 'checkbox', name: 'list_view' }
          <% } %>
          %span Compact
      %li
        <% if (period === 'Month') { %>
        %label.ui.quiet
          %input{ type: 'radio', name: 'period', value: 'Year' } Year
        %label.ui.quiet
          %input{ type: 'radio', name: 'period', value: 'Month', checked: 'checked' } Month
        <% } else { %>
        %label.ui.quiet
          %input{ type: 'radio', name: 'period', value: 'Year', checked: 'checked' } Year
        %label.ui.quiet
          %input{ type: 'radio', name: 'period', value: 'Month' } Month
        <% } %>

%script#flash-notice-template{ type: 'text/template' }
  .flash-notice
    <%= message %>

%script#flash-info-template{ type: 'text/template' }
  .flash-info
    %span.fa.fa-info-circle
    <%= message %>


