%nav
  %ul.pull-left
    %li.logo &nbsp;
    %li.site-title
      %p.site-title Thai Moons
      %p.site-subtitle uposatha moonday calendar
  %ul.pull-right
    %li.menu &nbsp;
    %li.language &nbsp;
%section#pages
  .page
    %h2 Hello
  %ul
    %li
      %button.quiet
        %span.fa.fa-print
        PDFs
    %li
      %button.quiet
        %span.fa.fa-plus-circle
        Add to Google Calendar
%section#calendar_nav
  #calendar_period
  #calendar_menu
    %ul.settings
      %li
        %select#nikaya.quiet
          %option{ selected: 'true' }
            Mahanikaya
          %option
            Dhammayut
      %li
        %label.quiet
          %input#list_view{ type: 'checkbox', name: 'list_view' }
          Uposatha List

%section#calendar_wrap
  .prev
    %span &lt;
  #calendar
  .next
    %span &gt;
%section#messages
