<nav>
  <ul class='pull-left'>
    <li class='logo'>&nbsp;</li>
    <li class='site-title'>
      <p class='site-title'>Thai Moons</p>
      <p class='site-subtitle'>uposatha moonday calendar</p>
    </li>
  </ul>
  <ul class='pull-right'>
    <li class='menu'>&nbsp;</li>
    <li class='language'>&nbsp;</li>
  </ul>
</nav>
<section id='pages'>
  <div class='page'>
    <h2>Hello</h2>
  </div>
</section>
<section id='calendar_nav'></section>
<section id='calendar_wrap'>
  <div class='prev'>
    <span>&lt;</span>
  </div>
  <div id='calendar'></div>
  <div class='next'>
    <span>&gt;</span>
  </div>
</section>
<section id='messages'></section>
