%nav
  %ul.pull-left
    %li.logo &nbsp;
    %li.site-title
      %p.site-title Thai Moons
      %p.site-subtitle uposatha moonday calendar
  %ul.pull-right
    %li.menu &nbsp;
    %li.language &nbsp;
%section#pages
  .page
    %h2 Hello
%section#calendar_nav
%section#calendar_wrap
  .prev
    %span &lt;
  #calendar
  .next
    %span &gt;
%section#messages
