
@import 'bourbon/bourbon'
@import 'base/grid-settings'
@import 'neat/neat'
@import 'base/base'

@import 'compass/css3/border-radius'

nav,
main,
section,
  +outer-container

.logo
  span
    display: inline-block
    height: 40px
    width: 40px
    background-image: url('/images/logo_w80.png')
    background-size: 40px
    background-repeat: no-repeat
    background-position: 50% 50%

.menu-trigger
  span
    display: inline-block
    border: 1px solid #5B5E63
    +border-radius(20px)
    padding: 10px
    height: 40px
    width: 40px
    background-image: url('/images/menu.png')
    background-repeat: no-repeat
    background-position: 50% 50%
  &.active
    span
      background-image: url('/images/menu-inverse.png')
      background-color: #5B5E63
      border: 1px solid #a4a19c


